<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByCV5vM2LUCVnwOe5Axw4YeMB_Cl7Go68</string>
	<key>GCM_SENDER_ID</key>
	<string>758821895593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnifyTask</string>
	<key>PROJECT_ID</key>
	<string>minorproj-8797d</string>
	<key>STORAGE_BUCKET</key>
	<string>minorproj-8797d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758821895593:ios:e97ff0df77a2520df418b8</string>
</dict>
</plist>